body {
  font-size: 32px;
}

#serif {
  font-family: "Times New Roman", "Times", serif;
}

#sans-serif{
  font-family: "Arial", "굴림체", sans-serif;
}

#monospace {
  font-family: "Courier", "Courier New", monospace;
}

#cursive {
  font-family: "Comic Sans MS", "Monotype Corsiva", cursive;
}

#fantasy {
  font-family: "Impact", "Haettenschweiler", fantasy;
}

#google {
  font-family: 'Roboto', cursive;
}